.search-container {
  display: flex;
  justify-content: center;
  padding: 8%;
}

form {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 4px;
  border: 2px rgba(0, 0, 0, 0.25) solid;
  border-radius: 50px;
}

input {
  /* Input UI styling */
  width: 88%;
  height: 2em; /* 2cem */
  padding: 5px 0px 5px 22px;
  border: none;
  outline: none;

  /* Text styling */
  font-size: 14px;
  font-weight: 400;
}

.search-icon {
  color: rgb(144, 151, 157);
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 5% 15% 5% 15%;
}

.card-container {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  border-bottom: 1px rgba(0, 0, 0, 0.35) solid;
}

.img-slug {
  width: 100px;
  height: 100px;
  border: 1px #000 solid;
}

/* Media Query for mobile */
@media (min-width: 280px) and (max-width: 768) {
  form {
    width: 100%;
    padding: 0px;
  }
}
