header {
  display: flex;
  padding: 4%;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2% 9% 2% 9%;
}

form {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 3px 2px 3px 2px;
  border: 1px rgb(218, 221, 225) solid;
  border-radius: 50px;
}

form:hover {
  border: none;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0px 4px 24px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 24px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 24px -17px rgba(0, 0, 0, 0.75);
}

input {
  /* Input UI styling */
  width: 88%;
  height: 2em; /* 2cem */
  padding: 5px 0px 5px 15px;
  border: none;
  outline: none;

  /* Text styling */
  font-size: 15px;
  font-weight: 400;
}

::placeholder {
  color: rgb(188, 188, 188);
}

.search-icon {
  padding: 10px 0 10px 0;
  color: rgb(151, 167, 153);
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 5% 15% 5% 15%;
}

.card-container {
  display: flex;
  flex-direction: row;
  padding: 5% 0 12px 0;
  border-bottom: 1px rgb(180, 180, 180) solid;
}

.img-slug {
  width: 90px;
  height: 90px;
  border-radius: 18px;
}

.text-content {
  padding: 0 12px 0 12px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  color: rgb(190, 190, 190);
}

/* Media Query for mobile */
@media (min-width: 280px) and (max-width: 768px) {
  form {
    width: 80%;
  }

  input {
    /* Input UI styling */
    width: 80%;
  }

  .cards-container {
    width: 80%;
    padding: 15% 10% 5% 10%;
  }

  .card-container {
    padding: 10% 0 2px 0;
  }

  .img-slug {
    width: 70px;
    height: 70px;
  }

  .text-content {
    transform: translateY(-12px);
    padding: 0 7px 0 7px;
  }

  footer {
    transform: translateY(125px);
  }
}
